@charset "UTF-8";
/*basic styles starts*/
code{
	display:inline-block;
	max-width:100%;
	padding:0 .4rem;
	word-wrap:break-word;
	overflow-wrap:break-word;
	-webkit-line-break:anywhere;
	-ms-line-break:anywhere;
	line-break:anywhere;
	font-size:.875rem;
	font-family:Source Code Pro,Menlo,Consolas,Monaco,monospace, Microsoft YaHei UI,Segoe UI,Arial,sans-serif;
	color:#E74C3C;
}
pre{
	margin:0;
	padding:.25rem 0 .25rem .5rem;
	-moz-tab-size:4;
	-o-tab-size:4;
	tab-size:4;
}
pre code{
	padding:0;
}
pre img{
	min-height:1em;
	max-height:1.2em;
	vertical-align:text-bottom;
}
.markdown>pre {
  padding: 16px;
  display: block;
  overflow: auto;
  white-space: pre;
  word-wrap: break-word;
}
code, 
pre, 
.highlight table,
.highlight tr,
.highlight td{
	background:#f5f5f5
}
.highlight{
	font-family:Source Code Pro,Menlo,Consolas,Monaco,monospace, Microsoft YaHei UI,Arial,sans-serif;
	font-size:.875rem;
	line-height:1.4em;
	margin:.5rem 0;
	overflow: auto;
}
.highlight table,
.highlight table thead, 
.highlight table tr, 
.highlight table td{
	margin:0;
	padding:0;
	border:none !important;
	white-space:nowrap
}
.highlight code{
	white-space: nowrap;
}
.highlight .table-wrapper code{
	white-space: pre;
}
.highlight>.chroma{
	position:relative
}
/*basic styles ends*/

/*code-header starts*/
.highlight>.chroma .code-header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	box-sizing:border-box;
	width:100%;
	font-family:system-ui,-apple-system,BlinkMacSystemFont,Microsoft YaHei UI,Arial,sans-serif;
	font-weight:bold;
	color:#9c9c9c;
	background:#e1e1e1
}
.highlight>.chroma .code-header:hover{
	cursor:pointer
}
.highlight>.chroma .code-header .code-title{
	width:100%;
	padding:.4rem
}
.highlight>.chroma .code-header .code-title::after{
	padding-left:.2rem;
	content: "Markdown";
}
.highlight>.chroma .code-header.language-bash .code-title::after{content:"Bash"}
.highlight>.chroma .code-header.language-c .code-title::after{content:"C"}
.highlight>.chroma .code-header.language-cs .code-title::after{content:"C#"} 
.highlight>.chroma .code-header.language-cpp .code-title::after{content:"C++"} 
.highlight>.chroma .code-header.language-clojure .code-title::after{content:"Clojure"} 
.highlight>.chroma .code-header.language-coffeescript .code-title::after{content:"CoffeeScript"} 
.highlight>.chroma .code-header.language-css .code-title::after{content:"CSS"} 
.highlight>.chroma .code-header.language-dart .code-title::after{content:"Dart"} 
.highlight>.chroma .code-header.language-diff .code-title::after{content:"Diff"} 
.highlight>.chroma .code-header.language-erlang .code-title::after{content:"Erlang"} 
.highlight>.chroma .code-header.language-go .code-title::after{content:"Go"} 
.highlight>.chroma .code-header.language-go-html-template .code-title::after{content:"Go HTML Template"} 
.highlight>.chroma .code-header.language-groovy .code-title::after{content:"Groovy"} 
.highlight>.chroma .code-header.language-haskell .code-title::after{content:"Haskell"} 
.highlight>.chroma .code-header.language-html .code-title::after{content:"HTML"} 
.highlight>.chroma .code-header.language-http .code-title::after{content:"HTTP"} 
.highlight>.chroma .code-header.language-xml .code-title::after{content:"XML"} 
.highlight>.chroma .code-header.language-java .code-title::after{content:"Java"} 
.highlight>.chroma .code-header.language-js .code-title::after{content:"JavaScript"} 
.highlight>.chroma .code-header.language-javascript .code-title::after{content:"JavaScript"} 
.highlight>.chroma .code-header.language-json .code-title::after{content:"JSON"} 
.highlight>.chroma .code-header.language-kotlin .code-title::after{content:"Kotlin"} 
.highlight>.chroma .code-header.language-latex .code-title::after{content:"LaTeX"} 
.highlight>.chroma .code-header.language-less .code-title::after{content:"Less"} 
.highlight>.chroma .code-header.language-lisp .code-title::after{content:"Lisp"} 
.highlight>.chroma .code-header.language-lua .code-title::after{content:"Lua"} 
.highlight>.chroma .code-header.language-makefile .code-title::after{content:"Makefile"} 
.highlight>.chroma .code-header.language-markdown .code-title::after{content:"Markdown"} 
.highlight>.chroma .code-header.language-matlab .code-title::after{content:"Matlab"} 
.highlight>.chroma .code-header.language-objectivec .code-title::after{content:"Objective-C"} 
.highlight>.chroma .code-header.language-php .code-title::after{content:"PHP"} 
.highlight>.chroma .code-header.language-perl .code-title::after{content:"Perl"} 
.highlight>.chroma .code-header.language-python .code-title::after{content:"Python"} 
.highlight>.chroma .code-header.language-r .code-title::after{content:"R"} 
.highlight>.chroma .code-header.language-ruby .code-title::after{content:"Ruby"} 
.highlight>.chroma .code-header.language-rust .code-title::after{content:"Rust"} 
.highlight>.chroma .code-header.language-scala .code-title::after{content:"Scala"} 
.highlight>.chroma .code-header.language-scss .code-title::after{content:"Scss"} 
.highlight>.chroma .code-header.language-shell .code-title::after{content:"Shell"} 
.highlight>.chroma .code-header.language-sql .code-title::after{content:"SQL"} 
.highlight>.chroma .code-header.language-swift .code-title::after{content:"Swift"} 
.highlight>.chroma .code-header.language-tex .code-title::after{content:"TeX"} 
.highlight>.chroma .code-header.language-toml .code-title::after{content:"TOML"} 
.highlight>.chroma .code-header.language-ts .code-title::after{content:"TypeScript"} 
.highlight>.chroma .code-header.language-typescript .code-title::after{content:"TypeScript"} 
.highlight>.chroma .code-header.language-vue .code-title::after{content:"Vue"} 
.highlight>.chroma .code-header.language-yml .code-title::after{content:"YAML"} 
.highlight>.chroma .code-header.language-yaml .code-title::after{content:"YAML"} 
.highlight>.chroma .ellipses{padding:.4rem} 
.highlight>.chroma .copy{display:none;padding:.4rem} 
.highlight>.chroma .copy:hover{cursor:pointer;color:#2d96bd}
/*code-header ends*/

/*table-wrapper starts*/
.highlight>.chroma .table-wrapper{
	max-height:0;
	overflow-y:auto;
	-webkit-transition:max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
	-moz-transition:max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
	-o-transition:max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
	transition:max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s
} 
.highlight>.chroma .lntd:first-child{
	min-width:1.6rem;
	text-align:right
} 
.highlight>.chroma .lntd:last-child{
	width:100%
} 
.highlight>.chroma .lntd:last-child pre{
	min-width:-webkit-max-content;
	min-width:-moz-max-content;
	min-width:intrinsic;
	min-width:max-content
} 
.highlight>.chroma .ln{
	padding-right:.75rem
} 
.highlight>.chroma .hl{
	display:block;
	background-color:#dcdcdc
}
.highlight>.chroma .ln, 
.highlight>.chroma .lnt{
	color:#a9a9b3
}
.highlight>.chroma .arrow{
	padding:0 .2rem;
	-webkit-transition:transform 0.2s ease;
	-moz-transition:transform 0.2s ease;
	-o-transition:transform 0.2s ease;
	transition:transform 0.2s ease
} 
/*table-wrapper ends*/

/*open starts*/
.highlight>.chroma.open .table-wrapper{
	max-height:500px;
	-webkit-transition:max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
	-moz-transition:max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
	-o-transition:max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
	transition:max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s
} 
.highlight>.chroma.open .arrow{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg)} 
.highlight>.chroma.open .code-header{background:#ededed}
.highlight>.chroma.open .ellipses{display:none} 
.highlight>.chroma.open .copy{display:inline; z-index:100;} 
/*open ends*/

/*code color starts*/
.highlight .c, .highlight .ch, .highlight .cm, .highlight .c1, 
.highlight .cs, .highlight .cp, .highlight .cpf{font-style:italic} 
.highlight .gl{text-decoration:underline} 
.highlight .p{color:#a9a9b3} .highlight .k{color:#b501a9} .highlight .kc{color:#b501a9} 
.highlight .kd{color:#b501a9} .highlight .kn{color:#b501a9} .highlight .kp{color:#b501a9} 
.highlight .kr{color:#b501a9} .highlight .kt{color:#b501a9} .highlight .n{color:#333} 
.highlight .na{color:#2b77fa} .highlight .nb{color:#f74840} .highlight .bp{color:#f74840} 
.highlight .nc{color:#cb8100} .highlight .no{color:#2b77fa} .highlight .nd{color:#0086c1} 
.highlight .ni{color:#2b77fa} .highlight .ne{color:#2b77fa} .highlight .nf{color:#2b77fa} 
.highlight .fm{color:#1ccad6} .highlight .nl{color:#2b77fa} .highlight .nn{color:#2b77fa} 
.highlight .nx{color:#333} .highlight .py{color:#2b77fa} .highlight .nt{color:#2b77fa} 
.highlight .nv{color:#2b77fa} .highlight .vc{color:#2b77fa} .highlight .vg{color:#2b77fa} 
.highlight .vi{color:#2b77fa} .highlight .vm{color:#2b77fa} .highlight .l{color:#2aa198} 
.highlight .ld{color:#2aa198} .highlight .s{color:#24a443} .highlight .sa{color:#24a443} 
.highlight .sb{color:#24a443} .highlight .sc{color:#24a443} .highlight .dl{color:#24a443} 
.highlight .sd{color:#24a443} .highlight .s2{color:#24a443} .highlight .se{color:#24a443} 
.highlight .sh{color:#24a443} .highlight .si{color:#24a443} .highlight .sx{color:#24a443} 
.highlight .sr{color:#24a443} .highlight .s1{color:#24a443} .highlight .ss{color:#24a443} 
.highlight .m{color:#e2893c} .highlight .mb{color:#e2893c} .highlight .mf{color:#e2893c} 
.highlight .mh{color:#e2893c} .highlight .mi{color:#e2893c} .highlight .il{color:#e2893c} 
.highlight .mo{color:#e2893c} .highlight .o{color:#f19b04} .highlight .ow{color:#b501a9} 
.highlight .c{color:#a0a1a8} .highlight .ch{color:#a0a1a8} .highlight .cm{color:#a0a1a8} 
.highlight .c1{color:#a0a1a8} .highlight .cs{color:#a0a1a8} .highlight .cp{color:#a0a1a8} 
.highlight .cpf{color:#a0a1a8} .highlight .g{color:#e72d40} .highlight .gd{color:#e72d40} 
.highlight .ge{color:#e72d40} .highlight .gr{color:#e72d40} .highlight .gh{color:#e72d40} 
.highlight .gi{color:#e72d40} .highlight .go{color:#e72d40} .highlight .gp{color:#e72d40} 
.highlight .gs{color:#e72d40} .highlight .gu{color:#e72d40} .highlight .gt{color:#e72d40} 
.highlight .w{color:#bbb}
/*code color ends*/