.doc_comments {
  font-size: 14px;
  color: #383838;
  margin-top: 30px;
  padding: 35px 0 45px;
}

.doc_comments .comments_block_title {
  color: #000000;
}

.v .vwrap {
  border-radius: unset;
  margin-top: 15px;
}

.v .veditor {
  min-height: 4.75rem;
}

.v .vwrap .vheader .vinput {
  border: none;
}

.v .vbtn {
  color: #FFFFFF;
  background-color: #000000;
  border: none;
}

#veditor::placeholder {
	color: #b3b3b3;
	font-size: 15px;
	text-align: center;
	line-height: 3rem;
}