@charset "UTF-8";
/*basic starts*/
.dark{color: rgb(212, 207, 197); background-color: rgba(0, 0, 0, 0.74);}
.dark .main{background-color: rgb(36, 37, 37); box-shadow: rgba(41, 41, 42, 0.86) 0px 10px 20px 0px;}
.dark a{color: rgb(186, 179, 166);}
.dark a:hover, .dark a:active {color: #fff;}
.dark input{color: rgb(212, 207, 197); background-color: #242525;}
.dark .list_with_title .listing_title {color: rgb(219, 213, 204);}
.dark .list_with_title .listing .listing_post a:hover {color: #fff;}
.dark .header .site_title_container .description {color: rgb(200, 194, 182);}
.dark .header .my_socials a {color: rgb(197, 191, 179);}
.dark .header .my_socials a:hover {color: #fff;}
.dark .post{background-color: rgb(36, 37, 37);}
.dark .post .post_title h2 {color: rgb(219, 213, 204);}
.dark .post .post_title a {color: rgb(219, 213, 204);}
.dark .post .post_title a:before{height: 1px; background: rgb(219, 213, 204);}
.dark .post .post_content a {color: #55bde2;}
.dark .post .post_content a:hover {color: #bdebfc;}
.dark .post .post_footer {border-bottom-color: rgb(63, 62, 60);}
.dark .post .post_footer .meta .tags a:hover {color: #fff;}
.dark .markdown h1, .dark .markdown h2,.dark .markdown h3,
.dark .markdown h4,.dark .markdown h5,.dark .markdown h6 {color: rgb(229, 224, 216);}
.dark .markdown blockquote {color: rgb(200, 194, 183);}
.dark .markdown blockquote::before {color: rgb(207, 200, 189);}
.dark .markdown strong, .dark .markdown b, .dark .markdown em {background-color: rgb(59, 58, 25);}
.dark ::-webkit-scrollbar {color: #c4beb3;}
.dark ::-webkit-scrollbar-thumb {background-color: #393b3b;}
.dark ::-webkit-scrollbar-thumb:active {background-color: #454545; border-width: 2px;}
.dark .pagination {border-bottom-color: rgb(64, 63, 61);}
.dark .footer .powered_by a:hover {color: #fff;}
.dark .aplayer{color: rgb(0, 0, 0);}
.dark .doc_comments .comments_block_title {color: rgb(229, 224, 216);}
.dark .v[data-class="v"] .vempty {color: rgb(200, 194, 183);}
.dark ::placeholder {color: #bab3a6;}
.dark .fixed a{color: #8e8e96;}
.dark .fixed a:hover{color: #161209;background: #dfdfdf;}
.dark #live2dcanvas{border-radius: 80px; background-color: #fff;}
.dark #waifu-tips span{color: aliceblue;}
.dark #jsi-flying-fish-container{background-color: rgba(0, 0, 0, 0);}
@media print, screen and (max-width: 680px) {
	.dark .site_nav a{color: rgb(63, 63, 63);}
}
/*basic ends*/

/*code starts*/
.dark code{color:#E5BF78}
.dark code,.dark pre,.dark .highlight table,
.dark .highlight tr,.dark .highlight td{background:#272C34}
.dark .highlight>.chroma .code-header{color:#b1b0b0;background:#1a1d23}
.dark .highlight>.chroma .copy:hover{color:#fff} 
.dark .highlight>.chroma .open .code-header{background:#20252b} 
.dark .highlight>.chroma .hl{background-color:#1c2025} 
.dark .highlight>.chroma .ln,.dark .highlight>.chroma .lnt{color:#5d5d5f} 
.dark .highlight .p{color:#a9a9b3}.dark .highlight .k{color:#d371e3}
.dark .highlight .kc{color:#d371e3}.dark .highlight .kd{color:#d371e3}
.dark .highlight .kn{color:#d371e3}.dark .highlight .kp{color:#d371e3}
.dark .highlight .kr{color:#d371e3}.dark .highlight .kt{color:#d371e3}
.dark .highlight .n{color:#a9b2c0}.dark .highlight .na{color:#41b0f5}
.dark .highlight .nb{color:#19b9c4}.dark .highlight .bp{color:#ecbf6f}
.dark .highlight .nc{color:#ecbf6f}.dark .highlight .no{color:#41b0f5}
.dark .highlight .nd{color:#ecbf6f}.dark .highlight .ni{color:#41b0f5}
.dark .highlight .ne{color:#41b0f5}.dark .highlight .nf{color:#41b0f5}
.dark .highlight .fm{color:#19b9c4}.dark .highlight .nl{color:#41b0f5}
.dark .highlight .nn{color:#41b0f5}.dark .highlight .nx{color:#a9a9b3}
.dark .highlight .py{color:#41b0f5}.dark .highlight .nt{color:#41b0f5}
.dark .highlight .nv{color:#41b0f5}.dark .highlight .vc{color:#41b0f5}
.dark .highlight .vg{color:#41b0f5}.dark .highlight .vi{color:#41b0f5}
.dark .highlight .vm{color:#41b0f5}.dark .highlight .l{color:#2aa198}
.dark .highlight .ld{color:#2aa198}.dark .highlight .s{color:#8cc570}
.dark .highlight .sa{color:#8cc570}.dark .highlight .sb{color:#8cc570}
.dark .highlight .sc{color:#8cc570}.dark .highlight .dl{color:#8cc570}
.dark .highlight .sd{color:#8cc570}.dark .highlight .s2{color:#8cc570}
.dark .highlight .se{color:#8cc570}.dark .highlight .sh{color:#8cc570}
.dark .highlight .si{color:#8cc570}.dark .highlight .sx{color:#8cc570}
.dark .highlight .sr{color:#8cc570}.dark .highlight .s1{color:#8cc570}
.dark .highlight .ss{color:#8cc570}.dark .highlight .m{color:#db985c}
.dark .highlight .mb{color:#db985c}.dark .highlight .mf{color:#db985c}
.dark .highlight .mh{color:#db985c}.dark .highlight .mi{color:#db985c}
.dark .highlight .il{color:#db985c}.dark .highlight .mo{color:#db985c}
.dark .highlight .o{color:#ecbf6f}.dark .highlight .ow{color:#d371e3}
.dark .highlight .c{color:#7e848f}.dark .highlight .ch{color:#7e848f}
.dark .highlight .cm{color:#7e848f}.dark .highlight .c1{color:#7e848f}
.dark .highlight .cs{color:#7e848f}.dark .highlight .cp{color:#7e848f}
.dark .highlight .cpf{color:#7e848f}.dark .highlight .g{color:#f16372}
.dark .highlight .gd{color:#f16372}.dark .highlight .ge{color:#f16372}
.dark .highlight .gr{color:#f16372}.dark .highlight .gh{color:#f16372}
.dark .highlight .gi{color:#f16372}.dark .highlight .go{color:#f16372}
.dark .highlight .gp{color:#f16372}.dark .highlight .gs{color:#f16372}
.dark .highlight .gu{color:#f16372}.dark .highlight .gt{color:#f16372}
.dark .highlight .w{color:#bbb}
/*code ends*/